# Based on your OS, uncomment one of 2 following SASS_PATH entries
# SASS_PATH=./node_modules;./src # For Windows OS
# SASS_PATH=node_modules:src # For Unix OS
BROWSER=none
REACT_APP_API_KEY=57f98036-a011-42cb-b2c6-52d0b3a45eca
REACT_APP_API_KEY_HASH=ee2c9c4ab52b406ee22cc46b62ce71c61d52a3e1c814f4abf09650907ea840a1
REACT_APP_ENVIRONMENT=prod
